{% extends "base.html" %}

{% load allauth account %}

<!-- Page title -->
{% block title %}
Sjukstugan- Sign In
{% endblock title %}

<!-- Page main content -->
{% block content %}
<div class="container-xl d-flex justify-content-center align-items-center">
    <!-- Sign in section -->
    <section class="my-3 my-md-4 m-lg-4 p-4">
        <div class="row">
            <div class="col-md-6">
                <h1 class="mb-3">Sign in</h1>
                <!-- Sign in form -->
                <form class="my-4" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="primaryAction p-2 px-3 fw-bold fs-5" type="submit">
                        Sign In
                    </button>
                </form>
            </div>
            <div class="col-md-6 d-flex">
                <div class="bg-brand-gray p-4 text-center d-flex flex-column justify-content-center">
                    <p class="fs-5">If you have not registered as a patient yet, please start with signing up.
                    </p>
                    <div>
                        <a class="btn d-inline-block p-2 px-3 fw-bold fs-5" href="{% url 'account_signup' %}"
                            aria-label="Go to the sign up page to register">
                            Sign Up
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}