{% extends "base.html" %}
{% load crispy_forms_tags %}

<!-- user = the user object, corresponding to the logged in patient
object_list = the available timeslots (not booked) -->

{% block content %}

<!-- book.html content starts here -->
<section class="main-bg main-text">
    <div class="container mt-5">
        <h2 class="text-center">Book an Appointment</h2>
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Book Time Slot</button>
        </form>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number" required>
            </div>
            <div class="form-group">
                <label for="appointment">Select Date and Time</label>
                <input type="text" class="form-control" id="datetimepicker" placeholder="Select date and time" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>
<!-- book.html content ends here -->
 
{% endblock %}