{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<section class="container-fluid main-bg">
    <div class="container-fluid content-container">
        <div class="row h-100">
            <!-- Text Column -->
            <div class="col-md-6 text-column main-text mt-5">
                <div>
                    <h2 class="fs-1">Welcome to Sjukstugan</h2>
                    <p>Sjukstugan is your local primary healthcare provider. We are dedicated to offering a wide range
                        of healthcare services to meet the needs of our community.<br><br>Whether you need a routine
                        check-up,
                        a consultation for a specific health issue, or follow-up care, we are here to help.</p>
                </div>
            </div>
            <!-- Image Column -->
            <div class="col-md-6 image-column">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#3E913B"
                        d="M42.9,-20.9C56.5,-1.4,68.8,22.8,61.5,40.8C54.1,58.9,27.1,71,0.9,70.5C-25.3,70,-50.7,56.9,-63.2,35.9C-75.8,14.8,-75.5,-14.3,-62.8,-33.4C-50.2,-52.4,-25.1,-61.4,-5.2,-58.4C14.7,-55.4,29.4,-40.4,42.9,-20.9Z"
                        transform="translate(100 100)" />
                </svg>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-white">
    <div class="container-fluid content-container">
        <div class="row h-100">
            <!-- Image Column -->
            <div class="col-md-6 image-column my-5">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#3E913B"
                        d="M42.9,-20.9C56.5,-1.4,68.8,22.8,61.5,40.8C54.1,58.9,27.1,71,0.9,70.5C-25.3,70,-50.7,56.9,-63.2,35.9C-75.8,14.8,-75.5,-14.3,-62.8,-33.4C-50.2,-52.4,-25.1,-61.4,-5.2,-58.4C14.7,-55.4,29.4,-40.4,42.9,-20.9Z"
                        transform="translate(100 100)" />
                </svg>
            </div>
            <!-- Text Column -->
            <div class="col-md-6 text-column main-text my-5">
                <div>
                    <h2 class="fs-1">About Us</h2>
                    <p>Sjukstugan was founded to provide healthcare services within our community. Based in the heart of
                        Gothenburg, we are deeply rooted in our local area, offering genuine care that fosters lasting
                        relationships.</p>
                    <p>As a family-run business, we prioritize trust, empathy, and respect. Our experienced team of
                        healthcare professionals is committed to providing personalized and compassionate care for you
                        and your loved ones.</p>
                    <h3>Why choose Sjukstugan?</h3>
                    <p><span class="fw-bold">Comprehensive Services:</span>From routine check-ups and preventive care to
                        more specialized treatments, we provide a full spectrum of healthcare services tailored to your
                        needs.</p>
                    <p><span class="fw-bold">Personalized Care:</span>Our dedicated team of doctors and healthcare
                        providers take the time to get to know you and understand your unique health concerns, ensuring
                        you receive the best possible care.</p>
                    <p><span class="fw-bold">Family-Owner and Operated:</span>As a small family business, we prioritize
                        creating a warm and welcoming environment where every patient feels like part of our extended
                        family.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- index.html content ends here -->

{% endblock %}