@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Quicksand:wght@300..700&display=swap');

/*--------------------------------------------Colors*/

.ui-menu-color-title {
    background-color: #fff5be;
}

.ui-menu-color-about {
    background-color: #fff5be;
}

.ui-menu-color-book {
    background-color: #fff5be;
}

.ui-menu-color-profile {
    background-color: #fff5be;
}

.main-bg {
    background-color: #f1f4ff;
    padding: 20px;
}

.main-text {
    color: #155909;
    font-family: "Quicksand", sans-serif;
    
}

h2 {
    font-family: "Quicksand", sans-serif;
}

/*--------------------------------------------Special paddings/margins/text*/

h1, h2, h3, h4 {
    margin: 80;
}

.general-sub {
    font-family: "Quicksand", sans-serif;
    color: #fff;
}

/*--------------------------------------------Heading*/

header {
    font-family: "Capriola", sans-serif;
    background-color: #fff5be;
    

    
}

.title {
    text-decoration: none;
}

.list-group-item {
    border: none;
}

.menuitem {
    height: 120px;
    text-align: center;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #e91d0a;
}

.menuitem span {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 28px;
    font-size: 26px;
    letter-spacing: 1px;
}

#nav .ui-menu-color-title a span {
    font-size: 48px;
    padding-top: 8px;
}


/*--------------------------------------------Body*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

bg {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main-bg {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content-container {
    min-height: 50vh;
    flex: 1;
}

.text-column,
.image-column {
    display: flex;
    align-items: center;
}

.image-column img {
    max-width: 100%;
    height: auto;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom {
    height: 100%;
}

.hvr-sweep-to-bottom:before {
    background: #3e913b;
}

/*--------------------------------------------Footer*/


footer {
    background-color: #ccbc89;
    color: #fff;
    min-height: 120px;
    padding: 20px 0;
    font-family: "Quicksand", sans-serif;
    flex-shrink: 0; 
}

.inline-block {
    display: inline-block;
}

#footer-details {
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
}

.social-buttons {
    flex: 1;
    min-width: 200px;
}

.social-links {
    display: flex;
    flex-wrap: wrap; 
    padding-bottom: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links li {
    background-color: #ccbc89;
    margin-right: 10px; 
}

.social-links li:last-child {
    margin-right: 0;
    margin-bottom: 0; 
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #3e913b;
}

/* ----------------------------------------Book */

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #3e913b;
}

/* Media Queries */

@media (max-width: 767.98px) {
    .list-group-horizontal-md {
        display: flex;
    }
    #nav li {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    
    #nav li {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #footer-details {
        flex-direction: column;
        align-items: flex-start;
    }

    .social-links {
        justify-content: flex-start;
    }

    .social-links li {
        margin-bottom: 10px;
    }
}